
h1
{
	color: rgb(128, 255, 0); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#The_epic_canvas{
	border-width: 10px;
	background-color: white;
	border-style: ridge;


}
